* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

body {
    font-size: 1rem;
    background-color: whitesmoke;
/* font-family: Verdana, 'Segoe UI', Geneva, sans-serif; */
font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    margin-bottom: 0.25em;
    text-align: center;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Shrikhand', cursive;
    letter-spacing: 1px;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
}

p {
    margin: 0.5em;
    line-height: 1.5;
}

input,
select,
textarea {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 3px;
    font-weight: bold;
}

select {
    font-size: 1em;
    display: inline;
}

select:focus {
    outline: none;
}

nav,
footer {
    font-size: 1rem;
    width: 100%;
    border-top: 1px solid #990000;
    border-bottom: 1px solid #990000;
    padding: 1em;
}

nav ul,
footer ul {
    display: flex;
    align-items: center;
}

nav li,
footer li {
    list-style: none;
    margin: 0 0.5em;
}

footer ul {
    justify-content: center;
}

a,
a:visited {
    text-decoration-line: none;
    color: #990000;
}

a:hover {
    text-decoration-line: underline;
}

.wrapper {
    font-size: 1rem;
    /* display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center; */
}

header {
    font-size: 1rem;
    justify-self: stretch;
    text-align: center;
    background-color: #990000;
    margin: 0;
    padding: 1em;
}

header h1 {
    margin: 0;
    font-size: 3em;
    color: white;
}

main {
    font-size: 1rem;
    min-height: 80vh;
    width: 100%;
    margin: 0;
    background-color: #C9C8C7;
    background-image: url("./App/images/montylov-373292-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    background-attachment: fixed;
}

.about {
    font-size: 1rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.about-content {
    background-color: whitesmoke;
    opacity: 0.9;
    padding: 1em;
}

.content-list {
    background-blend-mode: soft-light;
}

.list {
    font-size: 1rem;
    margin: 0;
    padding: 1em;
}

.comment-form button,
.item-form button,
.comment-edit button {
    height: 3em;
    max-width: 60px;
    border: none;
    border-radius: 5px;
    margin: 0 0.5em;
    padding: 1px 5px 2px;
    background-color: limegreen;
    font-weight: bold;
    color: white;
}

button:focus {
    outline: none;
}

.add-advice {
    padding: 1em 5%;
}

.item-form {
    padding: 1em;
    background-color: whitesmoke;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.item-form button {
    align-self: center;
    margin-top: 1em;
}

.item-form input,
.item-form textarea {
    /* display: inline-block; */
    min-height: 3rem;
    width: 100%;
    vertical-align: middle;
}

.item-form p {
    margin: 0.5em 0;
    flex-grow: 1;
}


/* the Form component on the admin page */
.admin .item-form {
    grid-area: iedt;
    padding: 0.5em;
    background-color: unset;
    font-family: 'Montserrat', sans-serif;
}

/* dup dup??? */
.admin .item-form button {
    /* align-self: center; */
    margin-top: 0.5em;
}


.admin .item-form input,
.admin .item-form textarea, 
.admin .item-form select {
    margin: 0.25em;
    font-weight: unset;
    min-height: fit-content;
}

.admin .item-form label {
    margin-right: 0.5em;
    vertical-align: middle;
}

.admin .item-form p {
    color: white;
    margin: 0;
}

.del-button {
    background-color: transparent;
    color: white;
    grid-area: idel;
    border: none;
    font-weight: bold;
}

.issue-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.admin {
    font-size: 1rem;
    margin: 0;
    background: #C9C8C7;
}

.admin-issue-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.issue {
    border: 2px solid #990000;
    /* border: 2px solid #212529; */
    margin: 1em;
    padding: 1em 0.75em;
    /* background-color: #212529; */
    background-color: #990000;
    /* opacity: .7; */
    box-shadow: 10px 10px 5px #212529;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* display: grid; */
    /* align-items: center; */
    /* grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 2em 2em 1fr ;
    grid-template-areas: 
    "isum " 
    "iaut "
    "ishr "
    "icat "
    "comm ";  */

}

.issue a, .issue a:visited {
    color: limegreen;
    font-weight: bold;
    text-decoration-line: underline;
}

.issue a:hover {
    text-decoration-line: none;
}

.item-title {
    text-align: left;
    text-transform: uppercase;
    margin-right: 1ch;
    /* grid-area: itle; */
}

.item-author {
    text-align: left;
    text-transform: uppercase;
    margin-right: 1ch;
    /* grid-area: iaut; */
}

.item-summary {
    /* grid-area: isum; */
    font-size: 1.2em;
}

.item-category {
    text-align: center;
    /* grid-area: icat; */
}

.item-image {
    max-width: 80%;
    margin: 0 10%;
}

/* 
.item-sharer {
    grid-area: ishr;
}

.item-image {
    grid-area: iimg;
} */

.admin-issue {
    border: 2px solid black;
    margin: 1em;
    padding: 1em 0.5em;
    background-color: #212529;
    opacity: .8;
    color: white;
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: 
    "vote .    idel"
    "iedt iedt iedt"
    "comm comm comm";
    grid-row-gap: 1ch;
    grid-column-gap: 2ch;
    align-items: center;
}

.votes {
    grid-area: vote;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.votes button {
    color: white;
    background-color: unset;
    border: 1px solid white;
}

.votes p {
    margin: 0.5em;
    padding: 0.5em;
}

.comment-container {
    grid-area: comm;
    padding: 1em 0;
    border: 1px solid #c97b84;
}

.comment-container h3 {
    text-align: center;
    font-style: italic;
    margin-bottom: 0.5em;
}

.comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comment-form input {
    flex-grow: 1;
}

.comment-list {
    display: inline-block;
    margin: 0.5em 0 2em;
}

.comment-list li {
    margin: 1em 1em 1em 2em;
    list-style-type: decimal;
}

.comment {
    display: flex;
    margin: 1em 0;
}

.comment-edit {
    flex-grow: 1;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.comment-edit input {
    flex-grow: 1;
}

.required, .admin .required {
    font-weight: ligher;
    font-size: 0.75em;
    color: red;
}

::placeholder {
    color: darkgray;
    font-style: italic;
    font-weight: lighter;
    vertical-align: middle, -webkit-baseline-middle;
    padding: 0.75em 0;
}

@media only screen and (min-width: 620px) {
    html {
        font-size: 16px;
    }

    .about, .add-advice{
        padding: 1em 20%;
    }

}